@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section Scripts{

    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">
                @ViewBag.ErrorMessage
            </div>
        }
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="FullName"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="FullName" value="@Model.FullName" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="Username"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Username" id="ImageURL" value="@Model.Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="Email"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Email" id="ImageURL" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="Password"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Password" id="Price" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="RePassword"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="RePassword" id="Price" value="@Model.RePassword" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button type="submit" value="Save Product" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
    </div>
</div>

