@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}


@section Scripts{

    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<h1>Reset Password</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">
                @ViewBag.ErrorMessage
            </div>
        }
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" name="Token" value="@Model.Token" />
        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="Email"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Email" id="Email" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="Password"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Password" id="Password" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="RePassword"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="RePassword" id="RePassword" value="@Model.RePassword" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button type="submit" value="Login" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
    </div>
</div>



